
<form class="example-form">
  <mat-label style="text-align: center; margin-left: 35%;">WELCOME BACK!!</mat-label><br>
  <mat-form-field class="example-full-width">
    <mat-label>Email Address</mat-label>
    <input matInput placeholder="Ex. xyz@gmail.com" type="email" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" required>
  </mat-form-field>
  <button mat-raised-button style="margin-left: 40%;">Login</button>
    
 </form>
