<div class="dimen">

    <b style="position: absolute; left: 85px; font-size: 25px; color: rgb(185, 22, 22);">WELCOME BACK!!</b>
    <b style="position: absolute; left: 160px; font-size: 25px;top: 30px; color: rgb(30, 30, 136);">Login</b>

    <hr class="line">
    
  <div class="details">

    <br>
        <label for="email" >Email Address</label>
    <br>
        <input type="email" name="email" id="email">
    <br>
    <br>
        <label for="pwd" >Password</label>
    <br>
        <input type="password" name="pwd" id="pwd">
    <br>
    <input type="submit" value="Login" class="login">
    
  </div>

  <div class="gmail">
    <b style="font-size: 20px; margin-left: 30px;">OR</b>

    <a href="#" class="fb btn">
         Login with Facebook
      </a>
      
      <a href="#" class="google btn">
         Login with Google+
      </a>
  </div>
  <div class="already">
    Don't have account? Go to 
    <a href="signup.html" >
      SignUp
   </a>
  </div>
  
  </div>  