.dimen{
    top: 80px;
    margin-left: 40%;
    width:400px;
    height:450px;
    border:1px solid #dfd8d8;
    position: relative;
    border-radius: 4px;
   
}

.details{
    position: absolute;
    top: 70px;
    left: 130px;
}

.login{
    background-color: rgb(214, 226, 42);
     width: 100px;
      height: 30px; 
      margin-top: 15px;
     margin-left: 25px;
}


.line{
    width:400px;
    top: 55px;
    border:1px solid #faf3f3;
    position: relative;
}


.gmail{
    position: absolute;
    top: 250px;
    left: 150px;
}



.fb {
    top: 100px;
    position: absolute;
    left: -40px;
    background-color: #3B5998;
    color: white;
  }
  
.google {
    top: 30px;
    position: absolute;
    left: -40px;
    background-color: #dd4b39;
    color: white;
}

.btn {
    position: absolute;
    width: 150px;
    height: 20px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
  }

.already{
    position: absolute;
    top: 420px;
    margin-left: 100px;
}
  