<div class="row" style="background-color: blue;">
  <span class="image" style="position: relative;">
    <img src="assets/logo.png" style="width: 100px; height: 100px;" class="resp" >
  </span>
  <span class="cummins">MKSSS's Cummins College Of Engineering For Women,Pune</span>   
</div>
<br>

<!-- <input type="file" (change)="onFileChange($event)" multiple="false"> -->

]<ul *ngFor="let sub of subject">
  <li>{{sub.subject}}</li>
  <li>{{sub.cno}}</li>
  <li>{{sub.t1}}</li>
  <li>{{sub.t2}}</li>  
  <li>{{sub.end}}</li>
  <li>{{sub.batch}}</li>
</ul>


<router-outlet></router-outlet>